@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.dm-sans {
    font-family: "DM Sans", sans-serif;
}

.archivo {
    font-family: "Archivo", sans-serif;
}

.monsterrat {
    font-family: "Montserrat", sans-serif;
}